.mediaCarousel {
  max-width: 600px;
  margin: 0 auto;
}
.mediaSlide {
  position: relative;
  min-height: 320px;
}
.mediaImg {
  object-fit: cover;
  border-radius: 16px;
}
.mediaVideo {
  width: 100%;
  border-radius: 16px;
  min-height: 320px;
  object-fit: cover;
}
